@import "./variables";
@import "~bootstrap/scss/bootstrap.scss";

body {
  overflow-y: scroll;
}

/* spacing
-----------------------------------------------------------------------------*/
.top-margin-sm {
  margin-top: 3em;
}

.top-margin-xs {
  margin-top: 4em;
}

.bottom-margin {
  margin-bottom: 4em;
}

/* movie cards
-----------------------------------------------------------------------------*/
.card {
  border: none;
}
.card-img-top {
  width: 100%;
  height: 50vh;
  object-fit: cover;
}

.card-description {
  background: #000000aa;
  position: absolute;
  display: none;
  height: 100%;
  top: 0;
  left: 0;
  padding: 1em;
}

.card:hover .card-description {
  display: block;
}

.card .overlay {
  position: relative;
  display: inline-block;
}

.movie-category-5 {
  background: $dark;
  border: 1px solid #5f2871;
}

.movie-category-6 {
  background: $dark;
  border: 1px solid #aa7239;
}
.movie-category-7 {
  background: $dark;
  border: 1px solid #265b6a;
}

.movie-category-8 {
  background: $dark;
  border: 1px solid #9fa838;
}

/* cart
-----------------------------------------------------------------------------*/
.cart {
  ul {
    border: none;
    min-width: 20rem;
    user-select: none;

    li {
      border: none;
      background: $info;
      color: $light;
      &:nth-child(odd) {
        background: darken($info, 2);
      }

      &.toggle {
        transition-duration: 500ms;
      }

      &.blink {
        background: $success;
      }
    }
  }

  .cart-item {
    display: none !important;

    &.open {
      display: flex !important;
    }
  }

  .toggle {
    cursor: pointer;
    &.open {
      .thumbnail,
      .label {
        display: none;
      }

      .fa-angle-up {
        transform: rotate(180deg);
      }
    }
  }

  .thumbnail {
    background-color: #ffffff;
    width: 1rem;
    height: 1.5rem;
    // border-radius: 1rem;
    margin-right: 0.3em;
  }

  .label {
    font-size: 0.8em;
    font-weight: bold;
    margin-right: 1.5em;
  }

  .update {
    cursor: pointer;
  }

  input {
    background-color: transparent;
    color: $light;
    border: none;
    outline: none;
    text-align: center;
    &::-webkit-inner-spin-button {
      display: none;
    }
    width: 2em;
  }
}
