@import "./variables";
@import "~bootstrap/scss/bootstrap.scss";

body {
  overflow-y: scroll;
}

/* loading
-----------------------------------------------------------------------------*/
.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* spacing
-----------------------------------------------------------------------------*/
.top-margin-sm {
  margin-top: 4em;
}

.top-margin-xs {
  margin-top: 6em;
}

.bottom-margin {
  margin-top: 4em;
}

/* navigation
-----------------------------------------------------------------------------*/
nav {
  font: 2em "Bebas Neue", sans-serif;
}

/* movie cards
-----------------------------------------------------------------------------*/
.card {
  border: none;
}
.card-img-top {
  width: 100%;
  height: 50vh;
  object-fit: cover;
}

.card-description {
  background: #000000aa;
  position: absolute;
  display: none;
  height: 100%;
  top: 0;
  left: 0;
  padding: 1em;
}

.card:hover .card-description {
  display: block;
}

.card .overlay {
  position: relative;
  display: inline-block;
}

.movie-category-5 {
  background: $dark;
  border: 1px solid #5f2871;
}

.movie-category-6 {
  background: $dark;
  border: 1px solid #aa7239;
}
.movie-category-7 {
  background: $dark;
  border: 1px solid #265b6a;
}

.movie-category-8 {
  background: $dark;
  border: 1px solid #9fa838;
}

/* cart
-----------------------------------------------------------------------------*/
.cart {
  ul {
    border: none;
    min-width: 20rem;
    user-select: none;

    li {
      border: none;
      background: $info;
      color: $light;
      &:nth-child(odd) {
        background: darken($info, 2);
      }

      &.toggle {
        background-color: transparentize($primary, 0.1);
        transition-duration: 500ms;
      }

      &.blink {
        background: $success;
      }
    }
  }

  .cart-item {
    display: none !important;

    &.open {
      display: flex !important;
    }
    .thumbnail {
      width: 3.2rem;
      height: 4.5rem;
      border-radius: 0.2rem;
    }
  }

  .toggle {
    cursor: pointer;
    &.open {
      .thumbnail,
      .label {
        display: none;
      }

      .fa-angle-up {
        transform: rotate(180deg);
      }
    }
    .thumbnail {
      width: 2.1rem;
      height: 3rem;
      border-radius: 0.1rem;
    }
  }

  .label {
    position: relative;
    top: 0.8rem;
    left: -0.8rem;
    z-index: 1;
    background: $dark;
    width: 1.8rem;
  }

  .update {
    cursor: pointer;
  }

  input {
    background-color: transparent;
    color: $light;
    border: none;
    outline: none;
    text-align: center;
    &::-webkit-inner-spin-button {
      display: none;
    }
    width: 2em;
  }
}

.cart-offset {
  position: relative;
  top: -6rem;
}

/* checkout form
-----------------------------------------------------------------------------*/
.form-check-input,
.form-check-label {
  cursor: pointer;
  margin-right: 2em;
}

.form-check-input {
  transform: scale(1.5);
}

.form-check-label svg {
  position: relative;
  top: 0.15em;
  left: 0.15em;
}
