$body-bg: #121212;
$primary: #304f88;
$warning: #7c5db3;
$dark: #1e1e1e;

@import "~bootstrap/scss/bootstrap.scss";

.card {
  border: none;
}
.card-img-top {
  width: 100%;
  height: 50vh;
  object-fit: cover;
}

.card-description {
  background: #000000aa;
  position: absolute;
  display: none;
  height: 100%;
  top: 0;
  left: 0;
  padding: 1em;
}

.card:hover .card-description {
  display: block;
}

.card .overlay {
  position: relative;
  display: inline-block;
}

.movie-category-5 {
  background: #333366;
}

.movie-category-6 {
  background: #336633;
}
.movie-category-7 {
  background: #663333;
}

.movie-category-8 {
  background: #666633;
}
