/* fonts
-----------------------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:wght@300;400&display=swap");
$font-family-sans-serif: "Lato", sans-serif;
$font-size-base: 1.1rem;
$enable-responsive-font-sizes: true;
