// bootstrap colors
$body-bg: #121212;
$primary: #8a123a;
$secondary: #c3c2c2;
$success: #9fa838;
$info: #2b2828;
$dark: #1e1e1e;

// blue theme
$primary: #19629e;
$success: #cac827;

// font
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:wght@300;400&display=swap");
$font-family-sans-serif: "Lato", sans-serif;
$enable-responsive-font-sizes: true;
