@import "./colors";
@import "./sizes";
@import "./fonts";
@import "~bootstrap/scss/bootstrap.scss";

body {
  overflow-y: scroll;
}

h1 {
  font-family: "Bebas Neue", sans-serif;
}

.btn {
  font-weight: bold;
}

/* spacing
-----------------------------------------------------------------------------*/
#root {
  position: relative;
  min-height: 100vh;
}

#content {
  padding-bottom: 8rem;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 8rem;
}

/* navigation
-----------------------------------------------------------------------------*/
nav {
  a {
    font-family: "Bebas Neue", sans-serif;
  }

  #search-toggle,
  .search-open {
    display: none;
  }

  @media only screen and (max-width: 49rem) {
    .search {
      display: none;
    }

    .search-open {
      display: inline-block;
    }

    #search-toggle:checked {
      & + .search {
        display: block;
        & + .search-open {
          display: none;
        }
      }
    }
  }
}

/* product cards
-----------------------------------------------------------------------------*/
.card {
  border: none;
  color: $light;

  .card-img-top {
    display: none;

    @include media-breakpoint-up(sm) {
      display: block;
      width: 100%;
      height: 60vw;
      object-fit: cover;
    }

    @include media-breakpoint-up(md) {
      height: 40vw;
    }

    @include media-breakpoint-up(lg) {
      height: 30vw;
    }

    @include media-breakpoint-up(xl) {
      height: 25vw;
    }
  }

  .card-description {
    background-image: linear-gradient(180deg, $black 0%, darken($dark, 2) 100%);
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
    padding: 1em;

    @include font-size(16);

    @include media-breakpoint-up(sm) {
      background-image: none;
      background-color: #000000cc;
      display: none;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      overflow: hidden;
    }

    .thumbnail {
      width: 8rem;
      height: 12rem;
      border-radius: 0.2rem;
      float: left;
      clear: both;
      margin-right: 1rem;
    }
  }

  &:hover .card-description {
    display: block;
  }

  .overlay {
    position: relative;
    display: inline-block;
    width: 100%;
  }

  .product-category-5 {
    background: $dark;
    border: 1px solid #5f2871;
  }

  .product-category-6 {
    background: $dark;
    border: 1px solid #aa7239;
  }
  .product-category-7 {
    background: $dark;
    border: 1px solid #265b6a;
  }

  .product-category-8 {
    background: $dark;
    border: 1px solid #9fa838;
  }

  .card-footer {
    border: none;
  }
}

/* cart
-----------------------------------------------------------------------------*/
.cart {
  ul {
    border: none;
    min-width: 20rem;
    user-select: none;

    li {
      border: none;
      background: $info;
      color: $light;
      &:nth-child(odd) {
        background: darken($info, 2);
      }

      &.cart-header {
        background-color: $primary;
        transition-duration: 400ms;
      }

      &.blink {
        background: $success;
      }
    }
  }

  .cart-item {
    display: none !important;

    &.open {
      display: flex !important;
    }
    .thumbnail {
      width: 3.2rem;
      height: 4.5rem;
      border-radius: 0.2rem;
    }
  }

  .toggle {
    cursor: pointer;
    &.open {
      .thumbnail,
      .label {
        display: none;
      }

      .fa-angle-up {
        transform: rotate(180deg);
      }
    }
    .thumbnail {
      width: 2.1rem;
      height: 3rem;
      border-radius: 0.1rem;
    }
  }

  .label {
    position: relative;
    top: 0.8rem;
    left: -0.8rem;
    z-index: 1;
    background: $dark;
    width: 1.8rem;
  }

  .update {
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    border-radius: 2rem;
    text-align: center;

    &:hover {
      background-color: $danger;
    }

    &.increase:hover {
      background-color: $success;
    }
  }

  input {
    background-color: transparent;
    font-weight: bold;
    border: none;
    outline: none;
    text-align: center;
    width: 2em;

    &:disabled {
      font-weight: normal;
      color: inherit;
    }

    &::-webkit-inner-spin-button {
      display: none;
    }
  }
}

.cart-offset {
  position: relative;
  top: -6rem;
}

.badge {
  select,
  select:focus,
  option {
    background-color: $secondary;
    font-weight: bold;
    border: none;
    box-shadow: none;
    outline: none;
    padding: 0.4em;
  }
}

/* modal
-----------------------------------------------------------------------------*/
.modal-content {
  background-color: $light;
  .cart ul li:nth-child(odd) {
    background: $secondary;
    color: $info;

    input {
      color: $info;
    }
  }
}

/* 404 not found
-----------------------------------------------------------------------------*/
.video {
  .overlay {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;

    video {
      margin: 0 -0.9em;
      padding: 0;
      width: calc(1.8em + 100%);
      height: 100%;

      &::-internal-media-controls-overlay-cast-button {
        display: none;
      }
    }
  }

  .description {
    font-family: "Bebas Neue", sans-serif;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 2em;

    h1 {
      display: block;
      width: 100%;
      font-size: calc(32vw - 2rem);
      color: transparentize($light, 0.7);
      margin: 0;
      padding: 0;
      text-align: right;
    }

    button {
      background: transparentize($primary, 0.2);
      color: $light;
      font-size: calc(1rem + 3vw);
      padding: 0;

      width: calc(2em + 5vw);
      height: calc(2em + 5vw);
      border-radius: 3em;
    }
  }
}

/* form
-----------------------------------------------------------------------------*/
label {
  color: $secondary;
}

/* footer
-----------------------------------------------------------------------------*/
footer {
  color: darken($secondary, 40);
  font-size: 0.7em;
  font-weight: lighter;
  text-align: right;
  vertical-align: bottom;
  padding: 6em 1.2em 0;
}
